In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pydataset import data

# train test split from sklearn
from sklearn.model_selection import train_test_split
# imputer from sklearn
from sklearn.impute import SimpleImputer

# filter out warnings
import warnings
warnings.filterwarnings('ignore')

# our own acquire script:
import acquire

# Acquisition Lesson

4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [3]:
df_iris = data('iris')

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [5]:
df_iris.shape

(150, 5)

In [6]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [7]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [8]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

5. Read the data from this google sheet into a dataframe, df_google.

In [9]:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
df_google.shape

(891, 12)

In [11]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [13]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [15]:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [16]:
df_google.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [17]:
df_google.Sex.value_counts(dropna=False)

male      577
female    314
Name: Sex, dtype: int64

In [18]:
df_google.Embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [19]:
df_excel = pd.read_excel('train.xlsx', sheet_name='train')

In [20]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    float64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(7), object(5)
memory usage: 83.7+ KB

In [21]:
df_excel_sample = df_excel.head(100)

In [22]:
df_excel_sample.shape

(100, 12)

In [23]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [24]:
df_excel.select_dtypes(include='object').head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803.0,C123,S
4,"Allen, Mr. William Henry",male,373450.0,NaN,S

In [25]:
df_excel.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S

In [26]:
titanic_stats = df_excel[['Age', 'Fare']].describe().T
titanic_stats

      count       mean        std   min      25%      50%   75%       max
Age   714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
Fare  891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

# Prepare Lesson Exercises

Exercises
The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

## Using the Iris Data:
Use the function defined in acquire.py to load the iris data.

In [64]:
iris = acquire.new_iris_data()

In [65]:
iris.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

Drop the species_id and measurement_id columns.

In [66]:
columns_to_drop = ['species_id']

In [67]:
iris = iris.drop(columns = columns_to_drop)

In [68]:
iris.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

Rename the species_name column to just species.

In [69]:
iris = iris.rename(columns={'species_name': 'species'})

In [70]:
iris.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [71]:
# Encoding steps
# 1. Make a dataframe out of "dummy" columns
# 2. Concatenate our dummy dataframe to our original dataframe

dummy_iris = pd.get_dummies(iris[['species']], dummy_na = False)

In [72]:
dummy_iris.head()

   species_setosa  species_versicolor  species_virginica
0               1                   0                  0
1               1                   0                  0
2               1                   0                  0
3               1                   0                  0
4               1                   0                  0

In [73]:
iris = pd.concat([iris, dummy_iris], axis=1)
iris

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [74]:
def prep_iris(df):
    # drop column
    columns_to_drop = ['species_id']
    iris = iris.drop(columns = columns_to_drop)
    # rename column
    iris = iris.rename(columns={'species_name': 'species'})
    #encode species
    dummy_iris = pd.get_dummies(iris[['species']], dummy_na = False)
    iris = pd.concat([iris, dummy_iris], axis=1)
    return iris

## Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

In [75]:
titanic = acquire.get_titanic_data()

In [76]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

Drop any unnecessary, unhelpful, or duplicated columns

In [77]:
columns_to_drop = ['embarked', 'pclass', 'passenger_id', 'deck']

In [78]:
titanic = titanic.drop(columns = columns_to_drop)

In [79]:
titanic.head()

   survived     sex   age  sibsp  parch     fare  class  embark_town  alone
0         0    male  22.0      1      0   7.2500  Third  Southampton      0
1         1  female  38.0      1      0  71.2833  First    Cherbourg      0
2         1  female  26.0      0      0   7.9250  Third  Southampton      1
3         1  female  35.0      1      0  53.1000  First  Southampton      0
4         0    male  35.0      0      0   8.0500  Third  Southampton      1

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [80]:
# Encoding steps
# 1. Make a dataframe out of "dummy" columns
# 2. Concatenate our dummy dataframe to our original dataframe

dummy_titanic = pd.get_dummies(titanic[['sex', 'class', 'embark_town']], dummy_na=False, drop_first=[True, True])

In [81]:
dummy_titanic

,sex_male,class_Second,class_Third,embark_town_Queenstown,embark_town_Southampton
0,1,0,1,0,1
1,0,0,0,0,0
2,0,0,1,0,1
3,0,0,0,0,1
4,1,0,1,0,1
...,...,...,...,...,...
886,1,1,0,0,1
887,0,0,0,0,1
888,0,0,1,0,1
889,1,0,0,0,0
890,1,0,1,1,0

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [82]:
def prep_titanic(df):
    # drop column
    columns_to_drop = ['embarked', 'pclass', 'passenger_id', 'deck'] 
    titanic = titanic.drop(columns = columns_to_drop)
    # encode
    dummy_titanic = pd.get_dummies(titanic[['sex', 'class', 'embark_town']], dummy_na=False, drop_first=[True, True])
    titanic = pd.concat([titanic, dummy_titanic], axis=1)
    return titanic

In [98]:
prep_titanic(df)

UnboundLocalError: local variable 'titanic' referenced before assignment

## Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

In [83]:
telco = acquire.get_telco_data()

In [84]:
telco.shape

(7043, 24)

In [85]:
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [86]:
telco = telco.drop_duplicates()

In [87]:
telco.shape # no dups

(7043, 24)

In [88]:
columns_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']

In [89]:
telco = telco.drop(columns = columns_to_drop)

In [90]:
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [91]:
#Encoding: Turning Categorical Values into Boolean Values (0,1)
#We have two options: simple encoding or one-hot encoding

# Encoding steps
# 1. Make a dataframe out of "dummy" columns
# 2. Concatenate our dummy dataframe to our original dataframe
telco.gender.map({'Female':1, 'Male':0})
telco['phone_service_']
dummy_telco = pd.get_dummies(telco[['gender', 'partner', 'dependents', 'phone_service', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn']], dummy_na=False, drop_first=[True, True])

In [92]:
dummy_telco

,partner_Yes,dependents_Yes,phone_service_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes
0,1,1,1,0,1,0,1,0,0,1,0
1,0,0,1,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,1,1
3,1,0,1,0,0,0,1,0,1,1,1
4,1,0,1,0,1,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,0,1,0,0,0,0,0,0
7039,1,0,1,0,0,0,0,0,1,1,1
7040,0,0,1,0,0,0,0,0,0,1,0
7041,1,1,1,0,1,0,0,0,1,0,0
7042,1,1,0,0,0,0,1,0,1,0,0

In [93]:
# Concatenate my dummy_df to my data

telco = pd.concat([telco, dummy_telco], axis=1)
telco

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,dependents_Yes,phone_service_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,1,1,0,1,0,1,0,0,1,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,1,0,0,0,0,0,1,0,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,0,1,0,0,0,0,0,0,1,1
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,0,1,0,0,0,1,0,1,1,1
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,0,1,0,1,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,0,1,0,1,0,0,0,0,0,0
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,0,1,0,0,0,0,0,1,1,1
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,0,1,0,0,0,0,0,0,1,0
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,1,1,0,1,0,0,0,1,0,0
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,1,0,0,0,0,1,0,1,0,0

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [94]:
def prep_telco(df):
    # drop columncolumns_to_drop = ['payment_type_id', 'internet_service_type_id', 'contract_type_id']
    telco = telco.drop(columns = columns_to_drop)
    # encode
    dummy_telco = pd.get_dummies(telco[['partner', 'dependents', 'phone_service', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn']], dummy_na=False, drop_first=[True, True])
    telco = pd.concat([telco, dummy_telco], axis=1)
    return telco

## Split your data

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [ ]:
# 20% test, 80% train_validate
# then of the 80% train_validate: 30% validate, 70% train. 
def my_train_test_split(df, target):
    train, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.survived)
    train, validate = train_test_split(train, test_size=.25, random_state=123, stratify=train.survived)
return train, validate, test

In [ ]:
train_iris, validate_iris, test_iris =

In [ ]:
# Validate my split.

print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

In [ ]:
Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.
target = 'species'

In [ ]:
Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [ ]:
Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.