10/19/22 Warmup:
Use the world database for the question below.
What languages are spoken in Santa Monica?

10/21/22 Warmup:
A ball is dropped and bounces. At each rebound, the ball reaches half the height of the previous rebound.
How high must the ball be dropped so it reaches exactly the height h after the sixth rebound?
Write a .py script that accepts an integer from the user that represents the height of the ball after the sixth rebound.
Your .py script should print out the height that the ball must be drop at to reach the given height at the sixth rebound.

In [ ]:
# ok, lets say that the initial bounce was 10 feet
1 bounce = 10
2 bounce = 10/2 = 5
3 bounce = 5/2 = 2.5
4 bounce = 2.5/2 = 1.25
5 bounce = 1.25/2 =.625
6 bounce = .625/2 = .3125

starting

def bounces(h):
    height = int(input("What heighth of the intitial bounce? ")
                 print(f'The ball started at )
    
                    for every bounce in bounces:
        h/2
        repeat 6 times

In [3]:
.625/2

0.3125

Warmup: 10/20/22 Using the world database: How many different countries are in each region?

In [ ]:
USE world;


SELECT *
FROM country;

SELECT c.Region, COUNT(c.Code) num_countries
FROM country c
GROUP BY c.Region
ORDER BY num_countries;

In [1]:
import pandas as pd
import seaborn as sns
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [2]:
df =  sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [17]:
newdf = df[(df.day == 'Sun') & (df.tip >= 2)]

In [18]:
newdf

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
185       20.69  5.00    Male     No  Sun  Dinner     5
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3

[67 rows x 7 columns]

In [22]:
newdf.total_bill.max()

48.17